@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css");

/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  padding: 20px;
  background-color: #f1f2eb;
  background: #d8dad3;
}

/* Container */
.container {
  max-width: 800px;
  margin: 0 auto;
  background: #f1f2eb;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Article styles */
article {
  margin-bottom: 20px;
}

article h1 {
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 10px;
}

article h2 {
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 10px;
}

article h3 {
  font-size: 1.2em;
  margin-top: 10px;
  margin-bottom: 10px;
}

article ul li {
  list-style: disc;
  margin-left: 20px;
}

.tags-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tags-container h3 {
  margin: 0;
}

article ul li.tag {
  list-style: none;
  background: #e2e2e2;
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 4px;
}

article hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Markdown content */
article .markdown {
  margin-top: 20px;
}

article blockquote {
  background: #ebece3;
  border-left: 5px solid #bbcfa0;
  padding: 10px;
  margin: 20px 0;
}

ul#page-list {
  list-style: none;
  flex: grid;
}

ul#page-list li {
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 10px;
  margin: 5px;
}

ul#page-list li:hover {
  background-color: #eeeeee;
}

/* Back to home link */
a {
  display: inline-block;
  text-decoration: none;
  color: #6a8f3b;
}

a:hover {
  text-decoration: underline;
}

/* Responsive styles */
@media (max-width: 600px) {
  body {
    padding: 10px;
  }

  .container {
    padding: 10px;
  }

  article h1 {
    font-size: 1.5em;
  }

  article h2 {
    font-size: 1.2em;
  }
}
